.authenticate-page
  .auth-title ユーザ認証機能

  .cards-container
    .authenticate-card
      %h3 Boards
      %h2.card-title ログイン
      .form-wrapper
        = render "devise/sessions/form", resource: @login_resource, resource_name: @login_resource_name

    .authenticate-card
      %h3 Boards
      %h2.card-title 新規アカウント作成
      .form-wrapper
        = render "devise/registrations/form", resource: @signup_resource, resource_name: @signup_resource_name
