-# =========================================================
-#  ボード編集ページ
-# =========================================================
.authenticate-page-task
  .auth-title-task
    ボード編集

  .board-form-container
    = render 'form',
        submit_label: '更新する',
        cancel_path: board_path(@board)
